body {
  background-color: black;
}

header {
  padding: 30px 162px 30px 162px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 555px;
  padding: 10px 40px 10px 10px;
  background: rgba(15, 15, 15, 1);
  border-radius: 12px;
}

.header-menu a {
  color: rgba(191, 191, 191, 1);
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

}

.header-menu .home-button {
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;
  gap: 10px;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  background: rgba(26, 26, 26, 1);
  border: 1px solid rgba(26, 26, 26, 1);
  color:  rgba(255, 255, 255, 1);

}

a {
  text-decoration: none !important;
}
